@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

/* font-family: "Source Sans Pro",
sans-serif; */
/* font-family: "Libre Baskerville",
serif; */

.hide {
    display: none;
}

.content {
    padding: 10px;
    /* border-bottom: 1px solid whitesmoke; */
}

.font {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
}

.item {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
}

main {
    display: grid;
    grid-template-areas:
        "h h h h h h"
        "n n n n n n"
        "b b b b b b"
        "b b b b b b"
        "i i i i s s"
        "i i i i s s"
        "f f f f f f";
    /* color: brown; */
    border: 5px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    min-height: 100%;
    /*Center a Box element*/
    width: 1000px;
    position: relative;
    margin: 0 auto 0 auto;
}

header {
    grid-area: h;
    /* background-color: whitesmoke; */
    /* border-radius: 5px; */
    display: flex;
    align-items: flex-end;
    justify-content: left;
    margin: 5px;
    border-bottom: grey solid 2px;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 42px;
    font-style: italic;
    padding-left: 15px;
}

nav {
    grid-area: n;
    height: 1px;
    display: none;
    justify-content: space-between;
    text-align: center;
}
nav a {
    margin: 20px;
    padding: 10px;
}

section {
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
    background: #4ac29a; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #bdfff3,
        #4ac29a
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #bdfff3,
        #4ac29a
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
}

footer {
    grid-area: f;
    margin: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: "Libre Baskerville", serif;
    margin: 5px;
    padding: 10px;
    text-decoration: underline;
}

#bio {
    grid-area: b;
}

#bio p {
    /* padding: 25px; */
    margin: 25px;
}

#ed {
    grid-area: s;
}

#hobbies {
    grid-area: i;
    background-image: url(images/background2.jpg);
}
