*{
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    margin:0;
    min-height: 100%;
    background-color: #666;
    display: flex;
}
main{
    display: flex;
    width: 100%;
}
nav{
    background-color:#999;
    width: 50px; 
    display: flex;
    justify-content: center;
    padding: 10px;
}
aside{
    background-color: #333;
    width: 200px;
    transition: width 1s;
    color: aliceblue;
    overflow: hidden;
}
textarea{
    background-color: black;
    resize: none;
    width:100%;
    color: white;
    outline: 0;
    border: 0 solid black;
}
a{
    display: block;
    width: 30px;
    height: 30px;
    background-color:greenyellow;
}

.close{
    width: 0px;
}

#text{
    width: 100px;
    float: right;
}